# Global Environment Variables Example
# Replace with your MongoDB Atlas connection string:
# mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority

# Task 01 Port (default: 4001)
TASK_01_PORT=4001

# Task 02 Port (default: 4002)
TASK_02_PORT=4002
